table {
  width: 100%;
}

.table-actionbar {
  padding         : 2px;
  display         : flex;
  background-color: rgb(235, 238, 238);
}

.table-actionbar .search-box {
  flex: 1;
}

.search-box mat-form-field {
  width: 100%;

}



.table-actionbar .action-box {
  flex       : 0 0 50%;
  text-align : right;
  padding-top: 2px;


}

.table-actionbar .action-box button {
  margin-right: 10px;

}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width    : 133.33333%;
}

::ng-deep .action-box button .material-icons {
  font-size: 18px;
}

::ng-deep .action-box .mat-mini-fab {
  height: 34px;
  width : 34px;
}